.img {
    width: 100%;
    // max-width: 700px;
    height: auto;
}

.carA {
  height: 200px;
  width: 400px;
  transform: translate(-1070px, 240px);
}

// .animationbox {

// }

.animationbox {
  // width: 100px;
  // height: 100px;
  // background-color: red;
  // animation-name: slideRight;
  // animation-duration: 4s;
  animation: slideRight 4s infinite;
}

// @keyframes slideRight {
//   from {
//     // background-color: red;
//     transform: translateX(0);
//   }
//   to {
//     // background-color: yellow;
//     transform: translateX(1500px);
//   }
// }
@keyframes slideRight {
  from {
    // background-color: red;
    transform: translateX(0);
  }
  to {
    // background-color: yellow;
    transform: translateX(1500px);
  }
}





  @media (max-width: 915px) {
    .img {
        // top: 2%;
        // left: 9%;
        margin-left: 530px;
        width: 35%;
        height: auto;
        // padding-bottom: -112px;
        // height: 10%;
        // padding: -25%;
    //   flex-direction: absolute;
    }
  }

 

@media (max-width: 790px) {
  .imgmain {
    transform: translate(280px);
  }
}



@media (max-width: 358px) {
  .img {
    // top: 2%;
    // left: 9%;
    margin-left: 1040px;
    transform: translateX(160px);
    width: 44%;
    height: auto;
    // padding-bottom: -112px;
    // height: 10%;
    // padding: -25%;
//   flex-direction: absolute;
}
}


@media (max-width: 1100px) {
  .img {
    // top: 2%;
    // left: 9%;
    margin-left: 1040px;
    transform: translateX(-436px);
    width: 44%;
    height: auto;
    // padding-bottom: -112px;
    // height: 10%;
    // padding: -25%;
//   flex-direction: absolute;
}
}

@media (max-width: 975px) {
  .img {
    // top: 2%;
    // left: 9%;
    margin-left: 1040px;
    transform: translateX(-256px);
    width: 44%;
    height: auto;
    // padding-bottom: -112px;
    // height: 10%;
    // padding: -25%;
//   flex-direction: absolute;
}
}


@media (max-width: 890px) {
    .imgmain {
      transform: translate(170px);
    }
}


@media (max-width: 650px) {
  .img {
    // top: 2%;
    // left: 9%;
    margin-left: 1040px;
    transform: translateX(-146px);
    width: 44%;
    height: auto;
    // padding-bottom: -112px;
    // height: 10%;
    // padding: -25%;
//   flex-direction: absolute;
}
}

