.img {
    width: 100%;
    // max-width: 700px;
    height: auto;
}

  @media (max-width: 915px) {
    .img {
        // top: 2%;
        // left: 9%;
        margin-left: 530px;
        width: 35%;
        height: auto;
        // padding-bottom: -112px;
        // height: 10%;
        // padding: -25%;
    //   flex-direction: absolute;
    }
  }

 

@media (max-width: 738px) {

  .img {
    // top: 2%;
    // left: 9%;
    margin-left: 530px;
    width: 31%;
    height: auto;
    // padding-bottom: -112px;
    // height: 10%;
    // padding: -25%;
//   flex-direction: absolute;
}
}



@media (max-width: 358px) {
  .img {
    // top: 2%;
    // left: 9%;
    margin-left: 1040px;
    transform: translateX(160px);
    width: 44%;
    height: auto;
    // padding-bottom: -112px;
    // height: 10%;
    // padding: -25%;
//   flex-direction: absolute;
}
}


@media (max-width: 1100px) {
  .img {
    // top: 2%;
    // left: 9%;
    margin-left: 1040px;
    transform: translateX(-436px);
    width: 44%;
    height: auto;
    // padding-bottom: -112px;
    // height: 10%;
    // padding: -25%;
//   flex-direction: absolute;
}
}

@media (max-width: 975px) {
  .img {
    // top: 2%;
    // left: 9%;
    margin-left: 1040px;
    transform: translateX(-256px);
    width: 44%;
    height: auto;
    // padding-bottom: -112px;
    // height: 10%;
    // padding: -25%;
//   flex-direction: absolute;
}
}


@media (max-width: 720px) {
  .img {
    // top: 2%;
    // left: 9%;
    margin-left: 1040px;
    transform: translateX(-176px);
    width: 44%;
    height: auto;
    // padding-bottom: -112px;
    // height: 10%;
    // padding: -25%;
//   flex-direction: absolute;
}
}


@media (max-width: 650px) {
  .img {
    // top: 2%;
    // left: 9%;
    margin-left: 1040px;
    transform: translateX(-146px);
    width: 44%;
    height: auto;
    // padding-bottom: -112px;
    // height: 10%;
    // padding: -25%;
//   flex-direction: absolute;
}
}



@media (max-width: 605px) {
  .img {
    // top: 2%;
    // left: 9%;
    margin-left: 1040px;
    transform: translate(-56px, -50px);
    width: 65%;
    height: 400px;
    // padding-bottom: -112px;
    // height: 10%;
    // padding: -25%;
//   flex-direction: absolute;
}
}