.content {
    display: flex;
    position: absolute;
    bottom: -3180px;
    gap: 50px;
    margin-left: -182px;
}

.content2 {
    display: flex;
    position: absolute;
    margin-left: -190px;
    bottom: -3190px;
    width: 20%;
}

.font1 {
    font-size: 16px;
    font-weight: bold;
}
.font2 {
font-size: 16px;
font-weight: bold;
}
.font3 {
font-size: 16px;
font-weight: bold;
}
.font4 {
font-size: 16px;
font-weight: bold;
}

.text1 {
    // flex justify-center font-bold translate-y-[-90]
    display: flex;
    position: absolute;
    font-weight: bold;
    justify-content: center;
    bottom: -2940px;
    margin-left: 189px;
}


@media (max-width: 590px) {
    .content {
        width: 1050px;
        bottom: -3790px;
        margin-left: 20px;
        // transform: translate(270px, 750px);
    }

    .text1 {
        transform: translate(270px, 640px);
    }

    .font1 {
        font-size: 20px;
        font-weight: bold;
    }
    .font2 {
    font-size: 20px;
    font-weight: bold;
    }
    .font3 {
    font-size: 20px;
    font-weight: bold;
    }
    .font4 {
    font-size: 20px;
    font-weight: bold;
    }
    


    .content2 {
        width: 290px;
        bottom: -3890px;
        margin-left: 20px;
        // transform: translate(280px, 1300px);
    }

}



@media (max-width: 790px) {
    .text1 {
        transform: translate(90px, -170px);
    }

    .content {
        bottom: -3000px;
        margin-left: -130px;
    }

    .content2 {
        bottom: -3000px;
        margin-left: -135px;
    }
}


@media (max-width: 1100px) {
    .text1 {
        transform: translate(121px, -150px);
    }

    .content {
        transform: translate(155px, -170px);
        width: 890px;
    }

    .content2 {
        width: 255px;
        transform: translate(158px, -170px);
    }
}