.content {
    display: flex;
    position: absolute;
    bottom: -3180px;
    gap: 50px;
    margin-left: -182px;
}

.content2 {
    display: flex;
    position: absolute;
    margin-left: -190px;
    bottom: -3190px;
    width: 20%;
}

.text1 {
    // flex justify-center font-bold translate-y-[-90]
    display: flex;
    position: absolute;
    font-weight: bold;
    justify-content: center;
    bottom: -2940px;
    margin-left: 189px;
}


@media (max-width: 590px) {
    .content {
        transform: translate(380px, 1250px);
    }

    .text1 {
        transform: translate(170px, 1290px);
    }


    .content2 {
        transform: translate(470px, 1300px);
    }

}