.bg {
  background: linear-gradient(to bottom, #5ed8ff, #5ed8ff, #ffffff, #ffffff);
  text-align: center;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center; 
  height: 300px;
}

.imgLogo {
  width: 100%;
  max-width: 150px;
  height: auto;
}

.boxImg {
  display: flex;
  justify-content: center;
}

.menu {
  display: flex;
  justify-content: end;
  padding-right: 50px;
  padding-bottom: 25px;
}