
.mainBox {
position: relative;
}


.img {
  // width: 100%;
  // height: auto;
  // transform: translate(1px, -140px);
}

.imgres {
  transform: translate(-1px, 150px);
}

.mySwiper {
  transform: translate(1px, -50px);
}

.logo{
  position: absolute;
  z-index: 9999;
  top: 25px;
  left: 25px;
  width: 100%;
  max-width: 150px;
  height: auto;
}

.topfonth {
  position: absolute;
  z-index: 9999;
  color: white;
  transform: translate(190px, -550px);
}

.topfonten {
  position: absolute;
  z-index: 9999;
  color: white;
  transform: translate(190px, -510px);
}

.topheader {
  position: absolute;
  z-index: 9999;
  // display: flex;
  // position: absolute;
  // transform: translate(90px, 50px);
}

.imgCamMain {
  position: absolute;
  z-index: 9999;
  transform: translateY(-90px);
}



.imgHome {
  right: 0;
  position: absolute;
  top: 64%;
  z-index: 999;
}

.boxSidebar {
  padding-top: 250px;
}


.boxBanner {
    position: relative;
}



  @media (max-width: 770px) {
    .img {
        // width: 3200px;
    }

    .imgres {
      transform: translateX(1px);
      height: auto;
      width: 857px;
    }
  }


  @media (max-width: 1100px) {
    .img {
        // width: 3200px;
    }

    .imgres {
      transform: translateX(1px);
      height: auto;
      width: 1110px;
    }
  }


  @media (max-width: 975px) {
    .img {
        // width: 3200px;
    }

    .imgres {
      transform: translateX(9px);
      height: auto;
      width: 1260px;
    }
  }



  @media (max-width: 890px) {
    .imgres {
      width: 1300px;
    }
  }




  @media (max-width: 590px) {
    .img {
        // width: 3200px;
    }

    .imgres {
      transform: translateX(5px);
      height: auto;
      width: 1230px;
    }
  }



@media (max-width: 358px) {
  .img {
    // width: 3200px;
}

.imgres {
  transform: translateX(1px);
  height: auto;
  width: 1040px;
}
}