// .image{
//     height: 700px;
//     width: 1900px;
//     margin: auto auto;
//     display: flex;
// }

.eservice {
    display: flex;
    position: absolute;
    margin-left: 92px;
    bottom: -2050px;
}

.serimg {
    // font-size: 49px;
    height: auto;
    width: 100%;
}

.fonte {
    display: flex;
    position: absolute;
    color: black;
    font-size: 26px;
    font-weight: bold;
    margin-left: 317px;
    bottom: -1890px;
}



@media (max-width: 1285px) {
    .fonte {
        display: flex;
        position: absolute;
        color: black;
        font-size: 26px;
        font-weight: bold;
        margin-left: 317px;
        bottom: -1650px;
    }

    .eservice {
        display: flex;
        position: absolute;
        margin-left: 100px;
        bottom: -1859px;
    }
  }


@media (max-width: 1085px) {
    .fonte {
        display: flex;
        position: absolute;
        color: black;
        font-size: 26px;
        font-weight: bold;
        margin-left: 300px;
        bottom: -1500px;
    }

    .eservice {
        display: flex;
        position: absolute;
        margin-left: 82px;
        bottom: -1689px;
    }
  }



@media (max-width: 955px) {
    .fonte {
        display: flex;
        position: absolute;
        color: black;
        font-size: 26px;
        font-weight: bold;
        margin-left: 320px;
        width: 30%;
        bottom: -1831px;
    }

    .eservice {
        display: flex;
        position: absolute;
        margin-left: -11px;
        width: 75%;
        bottom: -1989px;
    }

    .serimg {
        // font-size: 49px;
        // height: auto;
        transform: translate(50px, 80px);
    }
  }


  @media (max-width: 890px) {
        .fonte {
            transform: translate(180px, -250px);
        }

        .eservice {
            transform: translate(215px, -275px);
        }
  }


  @media (max-width: 590px) {
    .fonte {
        transform: translate(190px, 1300px);
    }

    .serimg {
        width: 100%;
        transform: translate(-164px, 1290px);
    }

    .eservice {
        width: 145%;
        transform: translate(382px, 100px);
    }
  }


  @media (max-width: 790px) {
        .fonte {
            transform: translate(190px, -130px);
        }

        .eservice {
            transform: translate(240px, -190px);
        }
  }