.slider1 {
    // position: absolute;
    // top: 50%;
    // left: 50%;
    // margin-top: -50px;
    // margin-left: -50px;
    // width: 100px;
    // height: 100px;
    display: flex;
    position: absolute;
    bottom: -3750px;
    margin-left: -493px;
}

.mainbutton {
    display: flex;
  position: absolute;
  margin-left: 169px;
  background-color: #3498db; /* You can replace this color with the actual color value of bg-blue-500 */
  box-shadow: 0 25px 50px -12px rgba(31, 38, 135, 0.25);
  transition: background-color 0.3s ease;
  color: #fff;
  font-weight: bold;
  padding-top: 0.5rem;
  padding-right: 1rem;
  padding-bottom: 0.5rem;
//   box-shadow: green;
  padding-left: 1rem;
  border-radius: 9999px; /* A high value for rounded-full effect */
  transform: translateY(1751px);
}


@media (max-width: 590px) {
  .mainbutton {
    // transform: translate(260px, 2190px);
    bottom: -2990px;
    margin-left: 380px;
    width: 180px;
  }

  .slider1 {
    width: 1200px;
    margin-left: -310px;
    // transform: translate(490px, 1650px);
    bottom: -5190px;
  }
}


@media (max-width: 790px) {
    .mainbutton {
      bottom: -1390px;
      margin-left: 240px;
      // transform: translate(280px);
    }

    .slider1 {
      bottom: -3590px;
      margin-left: -495px;
      width: 1300px;
      // transform: translate(190px);
    }
}


@media (max-width: 890px) {
  .mainbutton {
    margin-left: 250px;
    bottom: -1400px;
  }


  .slider1 {
      bottom: -3600px; 
      width: 1250px;
      margin-left: -490px;
  }
}


@media (max-width: 990px) {
  .mainbutton {
    transform: translate(70px, 2060px);
  }

  .slider1 {
    transform: translate(220px);
  }
}
