.allgallery {
    display: flex;
    gap: 60px;
    position: absolute;
    bottom: -4590px;
    margin-left: 240px;
}

.menuone {
    // "translate-x-[-20.4rem] font-bold"
    font-weight: bold;
    transform: translate(-20.4rem, -25rem);
}
.menutwo {
    // "translate-x-[-20.4rem] font-bold"
    font-weight: bold;
    transform: translate(-20.4rem, -25rem);
}

.imgone {
    height: 237px;
    width: 347px;
    transform: translate(-325px, -380px);
    // style={{height: 237, width: 347, transform: "translateX(-325px)"}}
}


.imgtwo {
    height: 237px;
    width: 347px;
    transform: translate(-325px, -380px);
    // style={{height: 237, width: 347, transform: "translateX(-325px)"}}
}



@media (max-width: 590px) {
    .allgallery {
        display: flex;
        position: absolute;
        // width: 610px;
        // width: 4%;
        // width: 30px;
        // transform: translate(370px, 700px);
        bottom: -6160px;
        margin-left: 480px;
    }

    .imgone {
        height: 370px;
        // width: 990px;
    }

    .imgtwo {
        height: 370px;
        // width: 990px;
    }

    .imageone {
        width: 40rem;
    }

    .imagetwo {
        width: 40rem;
    }
}


@media (max-width: 790px) {
    .allgallery {
        bottom: -4390px;
        margin-left: 350px;
        // transform: translate(90px);
    }
}



@media (max-width: 1100px) {
    .allgallery {
        width: 670px;
        transform: translate(215px, -200px);
    }
}