.card {
  margin-top: 100px;
  border-width: 1px;
  border-style: solid;
  margin-left: auto;
  margin-right: auto;
  display: block;
  max-width: 1000px;
}

.resetpasstext {
  text-align: center;
}

.TextField{
    width: 900px;
    left: 34px;
}

.textemail{
    padding-left: 38px;
}

.button{
    margin-top: 100px;
}

.dialog {
  height: 930px;
 
  box-shadow: none; 
  outline: none; 
}

.dialogcontent {
  
  width: 500px;
  height: 250px;
  
}

.success{
  text-align: center;
  padding-top: 40px;
}

.icon{
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 100vh; 
  margin-left: 180px;
  margin-top: 10px;
}
