.card {
  margin-top: 100px;
  border-width: 1px;
  border-style: solid;
  margin-left: auto;
  margin-right: auto;
  display: block;
  max-width: 1000px;
}

.resetpasstext {
  text-align: center;
}

.TextField{
    width: 900px;
    left: 34px;
}

.textemail{
    padding-left: 38px;
}

.button{
    margin-top: 100px;
}