.cardmain {
    position: absolute;
    // display: flex;
    height: 80%;
    width: 50%;
    margin-top: 460px;
    // margin-left: -159px;
    
    // padding: -4%;
    // margin-right: 128px;
}

.cardsecons {
    position: absolute;
    // display: flex;
    // height: 80%;
    width: 50%;
    margin-top: 120px;
    margin-left: 292px;
}