.allfoot {
        width: 100%;
      

        background-color: #000;

      

        color: #fff;
      

        text-align: center;
      

        font-size: 14px; /* Adjust the size as needed */
      

        padding-top: 1.25rem; /* 5 times 0.25rem (default spacing unit in Tailwind) */
        padding-bottom: 1.25rem;
      

        transform: translateY(3630px);
      
}

@media (max-width: 590px) {
    .allfoot {
        width: 1240px;
    }
}