.card1 {
    display: flex;
    // position: absolute;
    // height: auto;
    // bottom: -930px;
    // margin-left: -61px;
}

.ico1 {
    display: flex;
    position: absolute;
    // height: auto;
    bottom: -1099px;
    margin-left: 41px;
    // bottom: -400px;
    // transform: translateX(-350px);
    height: 10%;
}

.font1 {
    display: flex;
    position: absolute;
    // height: auto;
    font-weight: bold;
    bottom: -1106px;
    margin-left: 131px;
    // bottom: -400px;
    // transform: translateX(-350px);
    height: 10%;
}
.card2 {
    display: flex;
    // position: absolute;
    // height: auto;
    // bottom: -930px;
    // margin-left: -61px;
}

.ico2 {
    display: flex;
    position: absolute;
    // height: auto;
    bottom: -1302px;
    margin-left: 41px;
    // bottom: -400px;
    // transform: translateX(-350px);
    height: 10%;
}

.font2 {
    display: flex;
    position: absolute;
    // height: auto;
    font-weight: bold;
    bottom: -1309px;
    margin-left: 131px;
    // bottom: -400px;
    // transform: translateX(-350px);
    height: 10%;
}
.card3 {
    display: flex;
    // position: absolute;
    // height: auto;
    // bottom: -930px;
    // margin-left: -61px;
}

.ico3 {
    display: flex;
    position: absolute;
    // height: auto;
    bottom: -1509px;
    margin-left: 41px;
    // bottom: -400px;
    // transform: translateX(-350px);
    height: 10%;
}

.font3 {
    display: flex;
    position: absolute;
    // height: auto;
    font-weight: bold;
    bottom: -1540px;
    margin-left: 131px;
    // bottom: -400px;
    // transform: translateX(-350px);
    height: 10%;
}
.card4 {
    display: flex;
    // position: absolute;
    // height: auto;
    // bottom: -930px;
    // margin-left: -61px;
}

.ico4 {
    display: flex;
    position: absolute;
    // height: auto;
    bottom: -1714px;
    margin-left: 41px;
    // bottom: -400px;
    // transform: translateX(-350px);
    height: 10%;
}

.font4 {
    display: flex;
    position: absolute;
    // height: auto;
    font-weight: bold;
    bottom: -1740px;
    margin-left: 131px;
    // bottom: -400px;
    // transform: translateX(-350px);
    height: 10%;
}
.card5 {
    display: flex;
    // position: absolute;
    // height: auto;
    // bottom: -930px;
    // margin-left: -61px;
}

.ico5 {
    display: flex;
    position: absolute;
    // height: auto;
    bottom: -1100px;
    margin-left: 41px;
    // bottom: -400px;
    // transform: translateX(-350px);
    height: 10%;
}

.font5 {
    display: flex;
    position: absolute;
    // height: auto;
    font-weight: bold;
    bottom: -1120px;
    margin-left: 131px;
    // bottom: -400px;
    // transform: translateX(-350px);
    height: 10%;
}
.card6 {
    display: flex;
    // position: absolute;
    // height: auto;
    // bottom: -930px;
    // margin-left: -61px;
}

.ico6 {
    display: flex;
    position: absolute;
    // height: auto;
    bottom: -1309px;
    margin-left: 38px;
    // bottom: -400px;
    // transform: translateX(-350px);
    height: 10%;
}

.font6 {
    display: flex;
    position: absolute;
    // height: auto;
    font-weight: bold;
    bottom: -1334px;
    margin-left: 131px;
    // bottom: -400px;
    // transform: translateX(-350px);
    height: 10%;
}
.card7 {
    display: flex;
    // position: absolute;
    // height: auto;
    // bottom: -930px;
    // margin-left: -61px;
}

.ico7 {
    display: flex;
    position: absolute;
    // height: auto;
    bottom: -1510px;
    margin-left: 38px;
    // bottom: -400px;
    // transform: translateX(-350px);
    height: 10%;
}

.font7 {
    display: flex;
    position: absolute;
    // height: auto;
    font-weight: bold;
    bottom: -1519px;
    margin-left: 131px;
    // bottom: -400px;
    // transform: translateX(-350px);
    height: 10%;
}
.card8 {
    display: flex;
    // position: absolute;
    // height: auto;
    // bottom: -930px;
    // margin-left: -61px;
}

.ico8 {
    display: flex;
    position: absolute;
    // height: auto;
    bottom: -1714px;
    margin-left: 41px;
    // bottom: -400px;
    // transform: translateX(-350px);
    height: 10%;
}

.font8 {
    display: flex;
    position: absolute;
    // height: auto;
    font-weight: bold;
    bottom: -1745px;
    margin-left: 131px;
    // bottom: -400px;
    // transform: translateX(-350px);
    height: 10%;
}