.googleAll {
    display: flex;
    position: absolute;
    // height: auto;
    bottom: -4990px;
    margin-left: -61px;
}

.texthead {
    // display: flex;
    // justify-content: flex-start;
    // position: absolute;
    // bottom: -5030px;
    // margin-left: -61px;
    // transform: translateX(-42px);
    // transform: translateY(-42px);
}