.card1 {
    background: linear-gradient(to right, #a5b4ff, #b291ff, #87c1ff);
    height: auto;
    width: 100%;
}


@media (max-width: 390px) {
    .card1 {
        // top: 2%;
        // left: 9%;
        // margin-left: 74px;
        // width: 12%;
        // height: 14px;
        // height: 10%;
        // padding: 5%;
    //   flex-direction: absolute;
    }
    // .img {
    //     top: 2%;
    //     left: 9%;
    //     width: 20%;
    //     height: 10%;
    //     padding: 5%;
    //   flex-direction: absolute;
    // }
  }